<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">

    <menu>
        <add id="Maven_Test::manage" resource="Maven_Test::manage" title="Maven Test" module="Maven_Test" sortOrder="10" action="maven/manufacturer/index" />
    </menu>

</config>